:root {
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-text-color-theme-light: #2e2f42;
--secondary-text-color-theme-light: #434455; 
--primary-text-color-theme-dark: #ffffff;
--secondary-text-color-theme-dark: #f4f4fd;
--background-color-dark: #2e2f42;
--main-background-color: #ffffff;
--accent-color: #4d5ae5;
--main-hover-color: #404bbf;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    outline: 2px solid red;
}

body {
    font-family: var(--main-font);
    color: var(--secondary-text-color-theme-light);
    background-color: var(--main-background-color)
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}


.page-header {
    border-bottom: 1px solid #e7e9fc 
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 40px;
    outline: 1px solid red;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--main-hover-color);

}


.logo-header {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--accent-color);
}

.logo-part-header {
    color: var(--primary-text-color-theme-light);
}

.main-address{
    font-style: normal;
}

.tel-email {
    display: flex;
}

.tel-email-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color-theme-light);
}

.tel-email-item {
    margin-right: 40px;
}

.tel-email-item:last-child {
    margin-right: 0;
}

.tel-email-link:hover,
.tel-email-link:focus {
    color: var(--main-hover-color);
}


.hero {
    padding-top: 188px;
    padding-bottom: 188px;

    text-align: center;
    background-color: var(--background-color-dark);
}
.hero-title {
    margin-top: 0;
    margin-bottom: 48px;
    max-width: 496px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color-theme-dark);
}
.order-btn {
    display: block;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);

    cursor: pointer
}

.order-btn:hover,
.order-btn:focus {
    background-color: var(--main-hover-color);
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    margin-top: 120px;
}

.feature-subtitle.first {
    margin-top: 0;
}

.feature-subtitle {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-color-theme-light);
}

.feature-text {
    margin-top: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
      
    color: var(--secondary-text-color-theme-light);
}

.second-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--primary-text-color-theme-light);
}

.our-functions {
    padding-bottom: 120px;
}

.our-functions-title {
    margin-bottom: 70px;
}

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;

    background-color: var(--secondary-text-color-theme-dark);
}

.our-team-title {
    margin-bottom: 72px;
}

.worker-card {
    background-color: var(--main-background-color);
}

.worker-name {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--primary-text-color-theme-light);
}

.worker-position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color-theme-light);
}

.worker-description {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;
}

.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--background-color-dark);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;

    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--accent-color);
}

.logo-part-footer {
    color: var(--secondary-text-color-theme-dark);
}

.page-footer-text {
    max-width: 264px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color-theme-dark);
}

.card-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    color: var(--accent-color);
    background-color: var(--secondary-text-color-theme-dark);
}

.card-btn:hover,
.card-btn:focus {
    color: var(--primary-text-color-theme-dark);
    background-color: var(--main-hover-color);
}

.card-btn {
    cursor: pointer;
}

.portfolio-cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--background-color-dark);
}

.portfolio-cards-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color-theme-light);
}